/*------------------------------- */
/* ! Basic Setup!*/
/*------------------------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #ffff;
    color: rgb(124, 124, 124);
    font-family: 'Raleway', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

/** Reusable Components */

.row {
    max-width: 1140px;
    margin: 0 auto;
}

section {
    padding: 80px; /*! could use margin but we'll use padding to keep white space inside the box*/

}

.box {
    padding: 1%;
}

/** Heading */
h1, h2, h3 {
    font-weight: 300;
    /* text-transform: uppercase; */
    letter-spacing: 1px;
}

h1 {
    color: #fff;
    margin: 0;
    margin-bottom: 20px;
    font-size: 240%;
    word-spacing: 3px;
}

h2 {
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
}

h3 {
    font-size: 110%;
    margin-bottom: 15px;
}

h2:after { /** This is the line made from CSS */
    display: block;
    height: 2px;
    background-color: #3498db;
    content: " ";
    width: 300px;
    margin: 0 auto;
    margin-top: 30px;
}

/** Paragraphs */
.long-copy {
    line-height: 145%;
    width: 80%;
    margin-left: 10%;
}

.box p {
    font-size: 90%;
    line-height: 145%;
}

/** ---- Icons ---- */
.icon-big {
    font-size: 300%;
    display: block;
    color: #3498db
}

/** ---- Buttons ---- */

.btn:link,
.btn:visited {
    display: inline-block; /** to give padding to this inline block element*/
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none; /** get rid of the link*/
    border-radius: 200px;
    color: #fff;
    transition: background-color 0.2s;
}

.btn-full:link,
.btn-full:visited {
    background-color: #3498db;
    border: 1px solid #3498db;
    margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited {
    border: 1px solid #3498db;
}
/* * have the hover below all the button */
.btn:hover,
.btn:active {
    background-color: #2980b9;
}

/* ------------------------------- */
/* ! Header */
/* ------------------------------- */

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.705), rgba(0, 0, 0, 0.705)), url("./img/christopher-gower-m_HRfLhgABo-unsplash.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    text-align: center;
}

.hero-text-box{
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

.logo {
    height: 100px;
    width: auto;
    float: left;
    margin-top: 20px;
    border-radius: 50px;
}

.main-nav{
    float: right;
    list-style: none;
    margin-top: 55px;
}

.main-nav li {
    display: inline-block; /** make them side by side*/
    margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
    padding: 8px 0;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #3498db;
}

/* ------------------------------- */
/* ! How it works */
/* ------------------------------- */

.section-features .long-copy {
    margin-bottom: 35px;
}

/* ------------------------------- */
/* ! Tech */
/* ------------------------------- */

.section-techs{
    padding: 0;
    background-color: rgba(247, 247, 247, 0.342);
}

.tech-showcase {
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}

.tech-showcase li {
    /* float: left; */
    width: 25%;
    margin: 5%;
}

.tech-photo {
    width: 100%;
    margin: 0;
    overflow: hidden;
    opacity: 0.7;
    transition: transform 0.5s, opacity 0.5s;
}

.tech-photo img {
    width: 100%;
    height: auto;
}

.os {
    transform: scale(0.85);
}

.tech-photo:hover{
    opacity: 1;
    transform: scale(1.1);
}

/* ! this small tag here is optional */
.sm {
    transform: scale(1.25);
}